<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Give Block Chain</title>
</head>
<body>
    <nav class="navbar navbar-expand  navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Home</a>
			</div>
			<div>
				<ul class="navbar-nav mr-auto">
					<li style="padding-top: 7px; color: white">[<%= id %>님]</li>
					<li class="nav-item"><a class="nav-link" href="/logout">로그아웃 </a></li>
					<li class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a></li>
					<li class="nav-item"><a class="nav-link" href="/view">기부 목록</a></li>
					<li class="nav-item"><a class="nav-link" href="/block-explorer">기부내역</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <div class="jumbotron">
		<div class="container">
			<h1 class="display-3">회원 정보 수정</h1>
		</div>
	</div>
	<div class="container">
			<h2 class='alert alert-danger'>회원정보가 수정되었습니다.</h2>
	</div>
</body>
</html>